# Package Files #
*.jar
*.war
*.ear

# tmp text editor files
*~
build/

# Added by netbeans
/PP/4.5/nbproject/private/
/PP/4.5/build/
/PP/4.7/nbproject/private/
/PP/4.7/build/
/PP/4.4/nbproject/private/
/PP/4.4/build/
